.nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    height: fit-content;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 999;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: var(--light-beige);
}

.nav-logo-wrapper {
    height: 56px;
    width: 56px;
    margin-left: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.nav-logo-wrapper:hover {
    cursor: pointer;
}

.nav-logo {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.nav-right-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin: 0 24px;
}

.nav-btn {
    margin: 0 32px;
    padding: 4px 0;
    font-size: large;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

.nav-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--primary);
    margin: 0 32px;
}

.nav-icon-wrapper:hover {
    cursor: pointer;
}

.nav-icon {
    color: var(--light-beige);
}

.nav-icon-wrapper:hover .nav-icon{
    color: var(--secondary);
}


.nav-admin-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    margin-top: 0;
    padding: 4px 24px;
    background-color: var(--primary);
}

.nav-admin-text {
    color: var(--light-beige);
}

.nav-admin-btn, .nav-signout-btn {
    margin: 0 16px;
    padding: 4px 8px;
    font-size: small;
    border: none;
    border-radius: 4px;
    color: var(--light-beige);
}

.nav-admin-btn {
    background-color: var(--secondary);
}

.nav-signout-btn {
    background-color: var(--primary-light);
}

.nav-admin-btn:hover, .nav-signout-btn:hover {
    cursor: pointer;
}
