@import './components/styles/variables.css';

@font-face {
  font-family: 'Playfair Display Variable';
  src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 999;
  font-style: normal;
}

body, button, input, select, textarea {
  font-family: 'Playfair Display Variable', serif;
}

body {
  margin: 0;
  padding: 0;
}
